# No need for DATABASE_URL to be set if developing from within a devcontainer

FLASK_APP=app
FLASK_ENV=development
SECRET_KEY=1bfa481ab5518529e3a763b89936bb2e
DATABASE_URL=postgresql://taskrat_app:password@localhost/taskrat_dev
